/* General Body Styles */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Header and Navigation */
header {
    background-color: #030141e1;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

/* Main Content */
main {
    padding: 20px;
    max-width: 960px;
    margin: 0 auto;
}

/* Hero Section */
#hero {
    text-align: center;
    padding: 50px 0;
}

/* Projects Section */
.project-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-item img {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
     height: 200px; 
     object-fit: cover;
     object-position: center;
}

.project-item h3 {
    margin-top: 10px;
}

/* About Section */
#about {
    text-align: center;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Resume Section */
#resume h3 {
    border-bottom: 2px solid #030141e1;
    padding-bottom: 5px;
    margin-top: 30px;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px 0;
    background-color: #030141e1;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}